.container{
    display: block;
    height: 100%;
    width: 500px;
    text-align: center;

}
h4{ font-size: 1rem;
    font-family: sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    height: 60%;
    width: 50%;
    color: black;

}

h1{
    font-size: 15rem;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    background-color: rgb(241, 225, 204);
    height: 60%;
    width: 50%;
    color: red;
   
  }
h2{
    font-size: 15rem;
    font-weight: bold;
    font-family: sans-serif;
    /* margin-bottom: 10px; */
    margin-top: 10px;
    /* text-align: center; */
    background-color: rgb(241, 225, 204);
    height: 60%;
    width: 50%;
    color: rgb(11, 168, 11);

  }
h3 {
    font-size: 1rem;
    font-family: sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    height: 60%;
    width: 50%;
    color: red;
}
